* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0;
}

.loading {
    padding-top: 200px;
}

#logoLoading, h1 {
    font-family: "Capriola", Combine, sans-serif;
    font-size: 8vmax;
    font-weight: 600;
    /* margin-bottom: 20px; */
    color: black;
    justify-content: center;
}

#loader {
    font-family: "Capriola", Combine, sans-serif;
    color: black;
    font-size: 8vmax;
    font-weight: 600;
}

/* header navbar de l'index' */
.navbar {
    padding-top: 17px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100px;
}

/* header navbar de la page infos */
.navbar-two {
    padding-top: 17px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    height: 80px;
}

.hover-logo {
    font-family: "Capriola", Combine, sans-serif;
    font-size: 2.3rem;
    transition: 0.3s ease-in-out;
    /* taille du logo sans le hover */
    -webkit-transform: scale(1);
    transform: scale(1);
    /* rapidité du hover */
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover-logo:hover {
    /* taille du logo avec le hover */
    font-family: "Capriola", Combine, sans-serif;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.hover-text-container {
    font-family: "Larsseit", Arial, sans-serif;
    font-size: 2.3rem;
    transition: 0.3s ease-in-out;
}

.hover-text-container:hover {
    font-family: "Larsseit", Arial, sans-serif;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}

/* index */
body {
    font-family: "Larsseit", Arial, sans-serif;
    font-size: 1.1rem;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.carousel-pagination {
    font-size: 1.5rem;
    font-family: "Capriola", Combine, sans-serif;
}

.titre {
    font-family: "Capriola", Combine, sans-serif;
    font-size: 1.1rem;
    text-decoration: underline;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.titre:hover {
    transform: rotate(-2deg);
}

.separator,
.separator-top {
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.separator {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.background-section {
    background-color: #e9eef0;
}

.carousel {
    margin: 0;
    padding: 0;
}

.carousel-inner {
    margin: 0;
    padding: 0;
}

.carousel-size {
    flex: 1;
}

.icons {
    width: 6vh;
}

.icon {
    width: auto;
    height: 4.5vh;
}

/* infos */
#contact {
    background-color: #f7ea9c;
    height: 100vh;
}

.textTotal {
    margin-top: 110px;
}

#contact p {
    color: black;
}

#contact a {
    color: black;
    margin: 0;
}

.text-contact {
    font-size: 2.3rem;
    font-family: "Larsseit", Arial, sans-serif;
}

.text-mail, .text-tel {
    font-size: 2.3rem;
    font-family: "Larsseit", Arial, sans-serif;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.text-mail:hover {
    transform: rotate(-3deg);
    text-decoration: underline;
}

.text-tel:hover {
    transform: rotate(3deg);
    text-decoration: underline;
}

.text-link, .text-link-two {
    font-size: 2.3rem;
    font-family: "Larsseit", Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

.text-link span, .text-link-two span {
    display: block;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.text-link:hover span {
    transform: rotate(-5deg);
}

.text-link:hover, .text-link-two:hover {
    text-decoration: underline;
}

.text-link-two:hover span {
    transform: rotate(5deg);
}

.text-about {
    font-size: 1.45rem;
    font-family: "Larsseit", Arial, sans-serif;
}

.text-infos {
    font-size: 1.2rem;
    font-family: "Larsseit", Arial, sans-serif;
}

.popup {
    position: fixed;
    bottom: 60px;
    left: 50%;
    cursor: pointer;
    transition: transform .25s, opacity .25s;
}

.popup-mobile button {
    display: none;
}

/* défilement de la page du bas vers le haut */
.slide-in {
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.8em;
    background-color: rgb(232, 35, 212);
}

::-webkit-scrollbar-thumb {
    background: rgb(191, 243, 100);
}

.carousel-arrows-mobile {
    display: none;
}

.body-bg div {
    width: 100%;
    height: 50%;
}

@media screen and (max-width: 767px) {

    #logoLoading, h1 {
        font-family: "Capriola", Combine, sans-serif;
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-about {
        background-color: #f7ea9c;
    }
    
    #loader {
        font-size: 2rem;
        font-weight: 600;
        justify-content: center;
        align-items: center;
    }

    .specific-image {
        height: fit-content!important;
    }

    ::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
        display: none;
    }

    .navbar, .navbar-two {
        height: 60px;
    }

    .image {
        height: fit-content;
    }

    .carousel-size {
        flex: 0;
        margin-bottom: 0;
    }

    .textHomepage {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.6rem;
    }

    .img-mobile {
        margin: 3px;
        width: 400px; 
    }

    .border-mobile {
        border-bottom: solid 2px black;
        display: flex;
        justify-content: center;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .carousels { 
        height: 350px !important;
    }

    .carousel-control-prev, .carousel-control-next {
        position: relative;
    }

    .carousel-arrows-mobile {
        display: block;
    }

    .carousel-pagination {
        display: none !important;
    }

    .text-homepage-mobile {
        text-align: center;
    }

    .text-homepage {
        display: none; 
    }

    .background-section {
        background-color: white;
    }

    .separator {
        border-bottom: none;
        border-top: none;
    }

    .carousel-arrows {
        display: none;
    }

    .titre {
        font-size: 0.7rem;
        font-family: "Capriola", Combine, sans-serif;
    }

    .textHomepage {
        font-size: 0.6rem;
        font-family: "Larsseit", Arial, sans-serif;
    }

    .icons {
        width: 2.5vh;
    }

    .icons:hover {
        visibility: hidden
    }

    .text-mail, .text-tel, .text-contact {
        font-size: 1.9rem;
    }

    .text-link, .text-link-two {
        font-size: 1.9rem;
        line-height: 1;
    }

    .text-about {
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .text-infos {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .popup {
        display: none;
    }

    .popup-mobile {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
    }

    .popup-mobile button {
        display: block;
    }

    .hover-logo {
        font-size: 2rem;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .hover-logo:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .hover-text-container {
        font-size: 2rem;
    }

    .hover-text-container:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    #contact {
        background-color: #f7ea9c;
        height: 100vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1500px) {
    .img-mobile {
        width:700px;
    }

    .titre {
        font-size: 1rem;
    }

    .textHomepage {
        font-size: 0.9rem;
    }

    .carousel-pagination {
        font-size: 1.2rem;
    }

    .text-mail, .text-tel, .text-contact, .text-link, .text-link-two {
        font-size: 2.3rem;
    }

    .text-about {
        font-size: 1.35rem;
    }

    .text-infos {
        font-size: 1rem;
    }
}