* {
    box-sizing: border-box;
}

.loading {
    padding-top: 200px;
}

#logoLoading {
    font-family: "Capriola";
    font-size: 2vmax;
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
}

#loader {
    font-family: "Capriola";
    color: black;
    font-size: 2vmax;
    font-weight: 600;
}

/* header navbar de l'index' */
.navbar {
    padding-top: 17px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100px;
}

/* header navbar de la page infos */
.navbar-two {
    padding-top: 17px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    height: 80px;
}

.hover-logo {
    font-family: "Capriola";
    font-size: 35px;
    transition: 0.3s ease-in-out;
    /* taille du logo sans le hover */
    -webkit-transform: scale(1);
    transform: scale(1);
    /* rapidité du hover */
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover-logo:hover {
    /* taille du logo avec le hover */
    font-family: "Capriola";
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.hover-text-container {
    font-family: "Larsseit";
    font-size: 35px;
    transition: 0.3s ease-in-out;
}

.hover-text-container:hover {
    font-family: "Larsseit";
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}

/* index */
body {
    font-family: "Larsseit";
    font-size: 18px;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.carousel-pagination {
    font-size: 25px;
    font-family: "Capriola";
}

.titre {
    font-family: "Capriola", bold;
    font-size: 19px;
    text-decoration: underline;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.titre:hover {
    transform: rotate(-2deg);
    color: rgb(35, 94, 232);
}

.separator,
.separator-top {
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.separator {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.background-section {
    background-color: #e8edf0;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 0.7;
    width: 20%;
}

.carousel {
    margin: 0;
    padding: 0;
}

.carousel-inner {
    margin: 0;
    padding: 0;
}

.carousel-size {
    flex: 1;
}

.icons {
    width: 4.5vh;
    height: auto;
}

.icons:hover {
    box-shadow: 5px 5px 5px #f7ea9c;
}

.icon {
    width: auto;
    height: 4.5vh;
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 1;
    transition: opacity 1s;
    cursor: pointer;
}

#scrollToTop.hidden {
    opacity: 0;
    pointer-events: none;
    /* Désactive les événements de souris sur l'élément caché */
}

/* infos */
#contact {
    background-color: #f7ea9c;
    height: 100vh;
}

.textTotal {
    margin-top: 130px;
}

#contact p {
    color: black;
}

#contact a {
    color: black;
}

.text-contact {
    font-size: 2.1vw;
    font-family: "Larsseit";
}

.text-mail {
    font-size: 2.1vw;
    font-family: "Larsseit";
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.text-mail:hover {
    transform: rotate(5deg);
    text-decoration: underline;
}

.text-tel {
    font-size: 2.1vw;
    font-family: "Larsseit";
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.text-tel:hover {
    transform: rotate(-5deg);
    text-decoration: underline;
}

.text-link {
    font-size: 2.1vw;
    font-family: "Larsseit";
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

.text-link span {
    display: block;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.text-link:hover span {
    transform: rotate(-5deg);
}

.text-link:hover {
    text-decoration: underline;
}

.text-link-two {
    font-size: 2.1vw;
    font-family: "Larsseit";
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

.text-link-two span {
    display: block;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.text-link-two:hover span {
    transform: rotate(5deg);
}

.text-link-two:hover {
    text-decoration: underline;
}

.text-about {
    font-size: 1.3vw;
    font-family: "Larsseit";
}

.text-infos {
    font-size: 1.1vw;
    font-family: "Larsseit";
}

.popup {
    position: fixed;
    bottom: 60px;
    left: 50%;
    cursor: pointer;
    transition: transform .25s, opacity .25s;
}

.popup-mobile button {
    display: none;
}

/* défilement de la page du bas vers le haut */
.slide-in {
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.8em;
    background-color: rgb(232, 35, 212);
}

::-webkit-scrollbar-thumb {
    background: rgb(191, 243, 100);
}

.carousel-arrows-mobile {
    display: none;
}

.body-bg div {
    width: 100%;
    height: 50%;
}

@media screen and (max-width: 767px) {
    .project-mobile {
        margin-top: 70px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    
    ::-webkit-scrollbar-thumb {
        display: none;
    }

    .navbar, .navbar-two {
        height: 60px;
    }

    .image {
        height: fit-content;
    }

    /* .h-100 {
        height: fit-content!important;
    }  */

    .carousel-size {
        flex: 0;
        margin-bottom: 0;
    }

    .textHomepage {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 11px;
    }

    .img-mobile {
        margin: 3px!important;
        width: 400px!important; 
    }

    .border-mobile {
        border-bottom: solid 2px black;
        display: flex;
        justify-content: center;
        width: 453px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .carousels { 
        height: 350px !important;
    }

    .carousel-control-prev {
        position: relative;
    }

    .carousel-control-next {
        position: relative;
    }

    .carousel-arrows-mobile {
        display: block;
    }

    .carousel-pagination {
        display: none !important;
    }

    .text-homepage-mobile {
        text-align: center;
    }

    .text-homepage {
        display: none; 
    }

    .background-section {
        background-color: white;
    }

    .separator {
        border-bottom: none;
        border-top: none;
    }

    .carousel-arrows {
        display: none;
    }

    .titre {
        font-size: 11px;
    }

    .textHomepage {
        font-size: 11px;
    }

    .icons {
        width: 2.5vh;
    }

    .icons:hover {
        visibility: hidden
    }

    .text-mail {
        font-size: 4.8vw;
    }

    .text-tel {
        font-size: 4.8vw;
    }

    .text-contact {
        font-size: 4.8vw;
    }

    .text-link {
        font-size: 4.8vw;
        line-height: 1;
    }

    .text-link-two {
        font-size: 4.8vw;
        line-height: 1;
    }

    .text-about {
        font-size: 3.7vw;
        line-height: 1.5;
    }

    .text-infos {
        font-size: 2.7vw;
        line-height: 1.5;
    }

    .popup {
        display: none;
    }

    .popup-mobile {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
    }

    .popup-mobile button {
        display: block;
    }

    .hover-logo {
        font-size: 28px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .hover-logo:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .hover-text-container {
        font-size: 28px;
    }

    .hover-text-container:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    #contact {
        background-color: #f7ea9c;
        height: 100vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1500px) {

    .img-mobile {
        width:700px;
    }

    .titre {
        font-size: 14px;
    }

    .textHomepage {
        font-size: 13px;
    }

    .carousel-pagination {
        font-size: 18px;
    }

    .text-mail {
        font-size: 2.3vw;
    }

    .text-tel {
        font-size: 2.3vw;
    }

    .text-contact {
        font-size: 2.3vw;
    }

    .text-link {
        font-size: 2.3vw;
    }

    .text-link-two {
        font-size: 2.3vw;
    }

    .text-about {
        font-size: 1.5vw;
    }

    .text-infos {
        font-size: 1vw;
    }
}