* {
    box-sizing: border-box;
}

.loading {
    padding-top: 200px;
}

/* #logoLoading{
    font-family: "Capriola";
    font-size: 2vmax;
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
} */

#logoLoading {
    font-family: "Capriola";
    font-size: 2vmax;
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
}

#loader {
    font-family: "Capriola";
    color: black;
    font-size: 2vmax;
    font-weight: 600;
}

/* header navbar de l'index' */
.navbar {
    padding-top: 17px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100px;
}

/* header navbar de la page infos */
.navbar-two {
    padding-top: 17px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    height: 80px;
}

.hover-logo {
    font-family: "Capriola";
    font-size: 35px;
    transition: 0.3s ease-in-out;
    /* taille du logo sans le hover */
    -webkit-transform: scale(1);
    transform: scale(1);
    /* rapidité du hover */
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover-logo:hover {
    /* taille du logo avec le hover */
    font-family: "Capriola";
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.hover-text-container {
    font-family: "Aileron";
    font-size: 30px;
    transition: 0.3s ease-in-out;
}

.hover-text-container:hover {
    font-family: "Aileron";
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
}

/* index */
body {
    font-family: "Aileron";
    font-size: 14.5px;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.separator, .separator-top {
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.separator {
    border-bottom: 1px solid black;  
    border-top: 1px solid black;  
}

.background-section {
    background-color: #e8edf0;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 0.7;
    width: 20%;
}

.carousel {
    margin: 0;
    padding: 0;
}

.carousel-inner {
    margin: 0;
    padding: 0;
}

.carousel-size {
    flex: 1;
}

.icons {
    width: 4.5vh;
    height: auto;
}

.icons:hover {
    box-shadow: 5px 5px 5px #f7ea9c;
}

/* .additionalText {
    padding-left: 65px;
} */

/* #scrollToTop { */
    /* opacity: 1; */
    /* Pour s'assurer que l'icône est visible par défaut */
    /* transition: opacity 1s; */
    /* Ajoutez une transition pour une animation en douceur */
/* } */

/* #scrollToTop.hidden { */
    /* opacity: 0; */
    /* pointer-events: none; */
    /* Désactive les événements de souris sur l'élément caché */
/* } */

/* infos */
#contact {
    /* jaune : */
    background-color: #f7ea9c;
    /* bleu foncé : */
    /* background-color: rgba(22,79,163,255); */
    /* bleu clair : */
    /* background-color: rgba(39,102,172,255); */
}

.textTotal {
    margin-top: 135px;
}

#contact p {
    /* color: white; */
    color: black;
}

#contact a {
    /* color: white; */
    color: black;
}

.textInfos1 {
    font-size: 1.9vw;
    font-family: "Aileron";
}

.textInfos2 {
    font-size: 1.3vw;
    font-family: "Aileron";
}

.textInfos3 {
    font-size: 1vw;
    font-family: "Aileron";
}

.popup {
    position: fixed;
    bottom: 60px;
    left: 50%;
    cursor: pointer;
}

/* défilement de la page du bas vers le haut */
.slide-in {
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.8em;
    background-color: rgb(232, 35, 212);
}

::-webkit-scrollbar-thumb {
    background: rgb(191, 243, 100);
}

/* à revoir */
@media (max-width: 767px) {
.textHomepage {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 11px;
}

.carousel-pagination {
    font-size: 11px;
    visibility: hidden;
}

/* .background-section {
    background-color: hidden;
} */

/* .separator {
    visibility: hidden
} */

/* PARTIE OK */
.icons {
    padding-top: 350px;
    width: 3vh;
}

.icons:hover {
    visibility: hidden
}

.textInfos1 {
    font-size: 3.8vw;
}

.textInfos2 {
    font-size: 2.5vw;
}

.textInfos3 {
    font-size: 2vw;
}

.popup {
    bottom: 30px;
}

.hover-logo {
    font-size: 28px;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.hover-logo:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hover-text-container {
    font-size: 28px;
}

.hover-text-container:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
}








/* responsive mobile  */
/* @media screen and (min-width: 320px) and (max-width: 480px)  */


/* responsive tablette @media screen and (min-width: 600px) and (max-width: 1023px) */
/* @media screen and (min-width: 600px) and (max-width: 1023px) {} */